# App configuration
SERVER_PORT=3000
APP_NAME="AVK Veiligheidstraining"
APP_URL=http://localhost:5173

# Authentication
JWT_SECRET=change_me_please

# Credentials for the superadmin account
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=test_password_please_change_this_123!

# Server storage
FILE_UPLOAD_LOCATION=data-storage/uploads
DEFAULT_STORAGE_PROVIDER=local

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE=your_database_name
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password

# Mail
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_NAME=AVK
MAIL_FROM_ADDRESS=noreply@example.com
